<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Group Info</title>
        <meta charset="utf-8" />
    </head>
    <h1> Enter Info to create a group<h1>

    <body>
        <form action="api/createGroup" method="post">
        <div>
            <label for="createGroup">Id of student:</label>
            <input type="text" id="stID" name="stID">
            <br>
            <label for="createGroup">Ente a unique group name:</label>
            <input type="text" id="groupName" name="groupName">

            
        </div>
        <div class="button">
            <button type="submit">newGroup</button>
        </div>
        </form>
    </body>
</html>
