<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Invalid username or password </title>
        <meta charset="utf-8">
        <!-- <script defer src="/cdn/scripts/Account/account.js"></script> -->
    </head>
    <body>
        <h1>Invalid username or password! Please re-enter details </h1>
        <form action="api/login" method="POST">
            
            <label for="student-number">Enter student Number:</label>
            <input type="text" id="student-number" name="studentnumber" placeholder="student number">
            <br><br>

            <label for="password">Enter password:</label>
            <input type="password"  name="password" id="password" placeholder= "Enter password">
            <br><br>

            <button id= "loginButton" >Log in</button>
     

        </form>
    </body>
</html>