<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/cdn/css/layout.css">
    <title>About page</title>
</head>

<body>
    
    <!-- About can return back to Homepage -->
    <a href="/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span> Home</a>

    <p><strong>This is a website that is used for managing study groups. It allows students to:</strong> </p>
    <ol>
        <li>create an account.</li>
        <li>create new study group.</li>
        <li>join existing study group.</li>
        <li>Search for study group.</li>
    </ol>

    <h1>Terms of Use</h1>
    <ul><li>User needs to be a student.</li></ul> 

    <h2>About Web Developers</h3>

        <p>We are aimed at providing a healthier and safer environment for students to share knowledge and form study groups especially during Covid19 times.</p>

        <ul>
            <li>Joane Msipha (msipha@gmail.com)</li>
            <li>Edward Ndlala (ndlala@gmail.com)</li>
            <li>Daniel Masango (masango@gmail.com)</li>
        </ul>
    
</body>

</html>